<!--
   Exercice Réalisez une interface de recherche de film à partir de son titre sur ImDB ainsi que l'affichage des 8 infos les plus 
   importantes du film dont l'affiche.
   
   La création d'une clé d'API est obligatoire (et rapide)
   http://www.omdbapi.com
-->

<html>
    <head>
        <title>Recherche Film avec méthode Axios</title>
        
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/accounting@0.4.1/accounting.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            .hidden{
                display: none;
            }
            .visible
            {
                display:block;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Recherche de films</h1>
            <div class="input-group mb-3">
                <input v-model="film" type="text" id="inputRecherche" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Renseignez un film">
                <button v-on:click="clickButton()" id="btnValider" type="button" class="btn btn-primary">Valider</button>
              </div>
            <section v-if="errored">
                <p>Désolé, nous n'avons pas pu accéder au serveur de données, réessayez plus tard</p>
            </section>
            <section v-else>
                <div v-if="loading">
                    Chargement en cours...
                    <div class="spinner-border text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div v-else>
                    <div v-if="movie_error != null">
                        <h2> {{movie_error}} </h2>

                    </div>
                    <div v-bind:class="className"> 
                        <div class="card" style="width: 25rem;">
                            <img v-bind:src="image" class="card-img-top" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{infoBrute.data.Title}}</h5>
                              <p class="card-text">{{infoBrute.data.Plot}}</p>
                              <p class="card-text">Acteurs: <strong>{{infoBrute.data.Actors}}</strong></p>
                              <p class="card-text">Pays: <strong>{{infoBrute.data.Country}}</strong></p>
                              <p class="card-text">Genre: <strong>{{infoBrute.data.Genre}}</strong></p>
                              <p class="card-text">Date de sortie: <strong>{{infoBrute.data.Released}}</strong></p>
                              <p class="card-text">Durée: <strong>{{infoBrute.data.Runtime}}</strong></p>
                              <p class="card-text">Type: <strong>{{infoBrute.data.Type}}</strong></p>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </section>
        </div>
        <script>
            //apikey=7403b6e6
            const MyVueApp ={
                data(){
                    return{
                        errored:false,
                        loading:true,
                        infoBrute:null,
                        film:"",
                        image:null,
                        movie_error:null,
                        className:"hidden"
                    
                    }
                },
                // L'instance de Vue  a terminé le process des options, voici ce qui est pret :
                // data, computed, methods, watch/events

                methods: {
                    
                    clickButton()
                    {
                        this.className= "visible"
                        this.movie_error = null
                        console.log("testClick")
                        console.log(this.film)
                        console.log("infoBrute: "+this.infoBrute)
                        axios
                        .get('https://www.omdbapi.com/?apikey=7403b6e6&t='+ this.film)
                        .then (response => {
                            this.infoBrute = response;
                            console.log("infoBrute: "+this.infoBrute.data.Title)
                            if(this.infoBrute.data.Error== "Movie not found!")
                            {
                                this.className= "hidden"
                                this.movie_error = "Le film que vous recherchez n'est pas disponible"
                            }
                            this.image = this.infoBrute.data.Poster
                            console.log(this.image)
                            
                    })
                    .catch (error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(()=> this.loading = false);
                    //méthode appelée quand le callback d'une promise est exécuté : resolve ou reject, cela évite de dupliquer le code 
                    // dans .then et .catch
                    },
                    
                },
                
                created(){
                    axios
                    .get('https://www.omdbapi.com/?apikey=7403b6e6&t='+ this.film)
                    .then (response => {
                        this.infoBrute = response;
                        console.log("test");

                        

                    })
                    .catch (error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(()=> this.loading = false);
                    //méthode appelée quand le callback d'une promise est exécuté : resolve ou reject, cela évite de dupliquer le code 
                    // dans .then et .catch
                }
            }
        Vue.createApp(MyVueApp).mount('#container');
        </script>
       
    </body>
</html>